*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container-img{
    max-width: 450px;
    
    margin: 30px auto;

    position: relative;
}

img{
    width: 100%;
}

#up-arrow{
    position: absolute;
    top: 15px;
    left: 50%;

    color: white;

    transform: translateX(-50%) translateY(-50%);
}

#down-arrow{
    position: absolute;
    bottom: 0;
    left: 50%;

    color: white;

    transform: translateX(-50%) translateY(-50%);
}

#container-title{
    position: absolute;
    bottom: 100px;
    right: 0;
    
    color: white;
}

#container-text{
    position: absolute;
    bottom: 40px;
    right: 0;

    color: white;
}